version: 2
updates:
- package-ecosystem: "gradle"
  directory: "/"
  schedule:
    interval: "weekly"
	groups:
		dependencies:
			applies-to: version-updates
			patterns:
				- "*"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
	groups:
		dependencies:
			applies-to: version-updates
			patterns:
				- "*"

- package-ecosystem: "npm"
  directory: "/docs"
  schedule:
    interval: "weekly"
	groups:
		dependencies:
			applies-to: version-updates
			patterns:
				- "*"
