/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme='light'] .banner {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* @font-face {
  font-family: FiraSansCondensed;
  src: url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
} */
